form .form-group label {
  font-size: 1.5em;
}

.login h1 {
  text-transform: uppercase;
}

.login input,
.login .btn {
  margin: 0 auto;
}

.login input {
  background: none;
  padding: 7%;
  width: 70%;
  text-align: center;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  border: 2px solid #3498db;
}

.login .btn {
  margin-top: 40px;
  padding: 5%;
  width: 70%;
  text-align: center;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
}

.login input:hover {
  width: 90%;
  border-color: #2ecc71;
}

.login .btn:hover {
  width: 90%;
  border-color: #2ecc71;
}
