.new .must-column-remind h5 {
  padding-left: 10em;
}

.new .form-group label {
  font-size: 2em;
  padding-left: 7em;
}

.new .form-group .col-sm-6 {
  padding: 0;
}

.new button#create-record {
  width: 48.5%;
  font-size: 2em;
}
